body
{
	height: 100%;
	width: 100%;
	margin: 0px;
	overflow: hidden;
}

/*.container
{
	position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
	background-color: #000;
}*/

.videoContainer
{
	position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
	background-color: #000;
}

.video
{
	width: 100%;
	height: 100%;
	background-color: #000;
}

#localVideo
{
	/*display: none;*/
	position: absolute;
	bottom: 2%;
	right: 2%;
	width: 25%; /* 20% */
	height: 25%; /* auto */
	background-color: #000;
}

.360Video
{
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 100;
}

.videoRecordCanvas
{
	display: none;
	width: 1920px;
	height: 1080px;
}
